.about-container {
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  line-height: 1.7;
  background-color: #fff7eb;
}

.about-title {
  text-align: center;
  font-size: 42px;
  color: #c66a00;
  text-shadow: 1px 1px 2px #ffcfa1;
  margin-bottom: 25px;
}

.about-intro {
  max-width: 900px;
  margin: 0 auto 40px auto;
  font-size: 18px;
  color: #444;
}


.about-section-title {
  color: #b35400;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 10px;
}


.offer-grid {
  max-width: 1100px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}


.offer-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #f4a226;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  transition: 0.3s;
}

.offer-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
  border-color: #ffb84d;
}


.offer-card h3 {
  margin-bottom: 10px;
  color: #c66a00;
  text-shadow: 1px 1px 2px #f7d9af;
}


.offer-card p {
  color: #444;
}

.about-banner {
  width: 100%;
  height: 250px;
  margin: 40px 0;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
