.contact-container {
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  background-color: #fff7eb;
}

.contact-title {
  font-size: 40px;
  text-align: center;
  color: #c66a00;
  text-shadow: 1px 1px 2px #ffd5a3;
  margin-bottom: 25px;
}

.contact-info {
  max-width: 600px;
  margin: 0 auto 30px auto;
  font-size: 18px;
  color: #444;
  line-height: 1.7;
}

.contact-section-title {
  font-size: 28px;
  color: #b35400;
  margin-bottom: 10px;
  text-align: center;
}

.contact-form {
  max-width: 450px;
  margin: 0 auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  border: 2px solid #f4a226;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);
}

.contact-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8
}