.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #222;
}

.navbar .logo {
  color: #ffbf00;
  font-size: 26px;
  font-weight: bold;
}

.navbar .links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
}

.navbar .links a:hover {
  color: #ffbf00;
}
