/* MAIN CONTAINER */
.products-container {
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  background-color: #fff7eb;
}

/* TITLE */
.products-title {
  text-align: center;
  font-size: 36px;
  color: #c66a00;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px #ffdaaa;
}

/* GRID */
.products-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

/* PRODUCT CARD */
.product-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  transition: 0.3s;
  border: 2px solid #f4a226;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
  border-color: #ffb84d;
}

/* IMAGE */
.product-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/* TEXT */
.product-card h3 {
  font-size: 20px;
  color: #b35400;
  margin-top: 10px;
}

.product-card p {
  font-size: 15px;
  color: #444;
  padding: 0 10px;
  min-height: 60px;
}

.product-price {
  font-size: 22px;
  font-weight: bold;
  color: #c66a00;
  margin: 10px 0;
}

/* BUTTON */
.buy-btn {
  background-color: #f4a226;
  color: black;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.buy-btn:hover {
  background-color: #ffb84d;
}
